*{
    color:white;
}

#navbar-main{
    position:fixed;
    width:100%;
}

#nav-belt{
    display:flex;
    justify-content: space-between;
    position:relative;
    background-color:#025159;
    height:45px;
    width:100%;
    padding:0px 25px;
}

.nav-left{
    position:relative;
    padding: 5px 25px;   
}

.logo img{
    height:40px;
    width:100px;
}

.nav-right{
    width:50%;
    padding:0px 10px;
    align-content:center;
}

.nav-tool{
    display:flex;
    justify-content: end;
    padding:0px;
    margin:0px;
}

.nav-sign{
    display:flex;
    text-wrap:nowrap;
    padding: 2px 10px;
    margin: 2px 10px;
    background-color:  #f8d32f;
    border: 1px solid #f1c32b; 
    border-radius: 24px;
    box-shadow: 0 1px 6px rgba(32, 33, 36, 0.28);
    outline: none; 
    transition: box-shadow 0.3s ease-in-out; 

    /* border-radius:10px; */
}

.nav-tool div a {
    size:20px;  
    text-decoration:none;
    font-weight:500;
    color:black;
}

.nav-sign a:hover{
    text-shadow:1%;
    opacity:0.5;
    transition: border 1px 0.3s ease-in-out; 
}

.navbar{
    background-color:#232f3e;
    z-index:-10;
}

.navbar-brand{
    color:white;
    font-size:36px;
    font-weight: 700;
    font-family:cursive;
    padding-left:10px;
}

.nav-link{
    color:rgba(255, 255, 255, 0.7) !important;
    font-size:16px;
    font-weight:500;  
}

.nav-bottom{
    width:100%;
    display: flex;
    flex-direction:row;
    flex-wrap:nowrap;
}

.item-list{
    width:100%;
    display:flex;
    justify-content: center;
}

.item-list-content{
    display: flex;
    flex-direction: row !important;
    flex-wrap:nowrap;
    justify-content: space-around;
}

.menu-btn{
    background-color: #1c2f3a;
    font-size: 22px;
    margin-left: 20px;
    display: none;
    border:none;    
}

.nav-item{
    margin-left:10px;
    margin-right:10px;
    padding-left:10px;
    padding-right:10px;
}

.nav-link::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background-color:#f8fbfa;
    transition: width 0.3s;
    bottom: 0;
    left: 0;
}

.nav-link.active::after {
    width: 25px;
}
.navbar-nav .nav-link.active{
    color:white;
}

@media (max-width:700px) {
    .item-list{
        display: none;
    }
    .menu-btn{
        display: flex;
    }
    .item-list.active{
        display:flex;
    }
    .nav-bottom{
        flex-direction:column !important;
    }
    .item-list-content{
        flex-direction:column !important;
    }
}

#list-item{
    display:block;
}


.pagecontent {
    background:#3E848C;
    scroll-behavior: smooth;
    /* padding-top: 2rem; */
}
.desktop-hero{
   height:30vh;
}

#products-container{
    display:flex;
    flex-wrap:wrap;
    justify-content:space-around;
   
}

.product {
    border: 1px solid #7AB8BF;
    padding: 16px;
    width: 230px;
    margin-bottom:5px;
    background-color:#7AB8BF;
}
.product img {
    width: 180px;
    height: 280px;
    padding:30px 0px;
    margin:8px;
    background-color:white;
}

.product >img:hover{
    transition: border 1px 0.5s ease-in-out; 
    width:188px;
    height:288px;
    box-shadow: 0px 2px 6px rgba(32, 33, 36, 0.28);
}

.product h3{
    color:black;
    font-size:calc(0.5em + 1vh);
    font-weight: 650;
    padding-top:10px;
    padding-bottom:0px;
    margin-bottom:0px;
}

.category{
     text-align:left;
     color:rgb(100, 99, 99);
}

.price{
   font-weight:600;
}

.product p{
    color:black;
    margin-bottom: 2px;
    font-size:14px;
    
}
.tab-panel .tab-pane{
    display:flex;
}

.tab-panel .tab-pane .page-card{
    margin:5px;
    padding:5px;
    height: 60vh;
    width:23rem;
    background-color: white;
}

.tab-pane a:hover{
    transition: 0.5s ease-in-out;
}

.page-card-body .btn{
  position:relative;
  border-style: solid;
  padding-bottom:5px;
}

.end{
    background-color:#232f3e;
}
.foot-sec{
    margin:0px 10px !important;
}
.nav-item{
    padding-left:0px;
}


.loggedIn{
    display: flex;
    /* padding-top: 10px; */
    width: 160px;
    height: 35px;
    border-radius:5px;
    background-color:#025159;
    border: #025159;
    margin: 7px;
}
.loogedIn i{
    border-radius: 20px;
    margin:0px 15px;
    /* padding: 10px 0px; */
}

.loggedIn span{
    margin:0px 15px;
    /* padding: 10px 0px; */
}

.sidebar .loggedIn{
    width:100%;
    padding: 0px;
    height: 40px;
    text-align: left;
}

.nav-tool span{
    font-size: 15px;
    font-weight: 500;
    align-content: center;
}

#sidebar{
     float:right;
     position:fixed;
     z-index:1000;
     right:0;
    display:none;
    background-color: #005352;
    opacity: 0.9;
    height: 100vh;
}

.profile{
    background-color: #2a8588;
    font-size: 25px;
    padding: 5px;
    border-radius: 20px;
}

#sidebar.active{
    display:block;
}


#profile-options .nav-link.active{
   background-color:  #54919b;
   
}

#profile-options button{
    width:100%;
    padding: 0px;
    height: 40px;
    text-align: left;
    border-radius: 20px;
    background-color:#f8d32f !important;
}

#sidebar .fa-xmark{
    position: absolute;
    font-size: 30px;
    right: 10px;
    top: 0;
    text-align: end;
}